html {
  text-align: center;
  background-color: #342936;
}

a{
  color: #FFF8F0;
  word-break: break-word;
}

a:visited{
  color: #FFF8F0;
}

a:hover{
	color:#D68FD6 !important;
	text-decoration:none !important;
}


p {
	color:#FFF8F0;
}

body{
	padding-top:70px;
	background-color:#342936;
	color: #FFF8F0;
}

.navbar-brand {
	color: #FFF8F0 !important;
}

.bg-dark {
	background-color: #011627 !important;
	color:#FFF8F0 !important;
}

.navbar-dark {
	background-color: #011627 !important;
	color:#FFF8F0 !important;
}



/* Ideas on color complementing
- Darkest green as background
- Slightly lighter green as a box color for framing elements
- The light grey for text
- THe dark grey for line separators for text
- The blues for something else that is yet undecided. Probably accenting. 
Ideas sourced largely off of MTGArena.pro designs*/