html {
  text-align: center;
  background-color: #342936;
}

a{
  color: #FFF8F0;
  word-break: break-word;
}

a:visited{
  color: #FFF8F0;
}

a:hover{
	color:#D68FD6 !important;
	text-decoration:none !important;
}


p {
	color:#FFF8F0;
}

body{
	padding-top:57px;
	background-color:#342936;
	color: #FFF8F0;
}

.navbar-brand {
	color: #FFF8F0 !important;
}

.bg-dark {
	background-color: #011627 !important;
	color:#FFF8F0 !important;
}

.navbar-dark {
	background-color: #011627 !important;
	color:#FFF8F0 !important;
}



@media screen and (max-width: 767px){   
    #element-with-background-image{      
        background-image: linear-gradient(rgba(52, 41,54, 0.8), rgba(52, 41, 54, 0.8)),
        url("/img/cards/01PZ040-full-xs.png");
        
    } 
}

@media screen and (min-width: 768px) {      
    #element-with-background-image{      
       background-image: linear-gradient(rgba(52, 41,54, 0.8), rgba(52, 41, 54, 0.8)),
        url("/img/cards/01PZ040-full-sm.png");
     } 
} 
@media (min-width: 992px){      
      #element-with-background-image{        
          background-image: linear-gradient(rgba(52, 41,54, 0.8), rgba(52, 41, 54, 0.8)),
        url("/img/cards/01PZ040-full-lg.png");
      } 
}
@media (min-width: 1200px) {    
     #element-with-background-image{         
         background-image: linear-gradient(rgba(52, 41,54, 0.8), rgba(52, 41, 54, 0.8)),
        url("/img/cards/01PZ040-full-xl.png");
     } 
}


#element-with-background-image {
    background-attachment: fixed;
    background-repeat: no-repeat;

}