html {
  text-align: center;
  background-color: #294137
}

a{
  color: #4E918D
}

a:visited{
  color: #BCC2B0
}

/* Ideas on color complementing
- Darkest green as background
- Slightly lighter green as a box color for framing elements
- The light grey for text
- THe dark grey for line separators for text
- The blues for something else that is yet undecided. Probably accenting. 

Ideas sourced largely off of MTGArena.pro designs*/