hr {
	background-color: #FFF8F0;
	margin-top: .75rem;
	margin-bottom: .75rem;
}

#cardList {
	padding-top: 50px;
}

.bigCardImg {
	max-width: 75%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}



.cardSpecs{
	font-size: 85%;
}

.carousel-select{
	top: 20%;
	bottom: 70%;
	margin-left: 5px;
	margin-right: 5px;
}
