.left{
    float: left; 
}
.right{
    float: right; 
}

#neg-margin{
    margin-top: -27px;
}

.set-tooltips{
	background-color: #011627 !important;
    width:200px;
    opacity: 1 !important;
}

.setName {
    margin-top: 3%;
}

.hover-icon{
    /* height: 35px;
    width: 35px; */
    display: inline;
    margin-bottom: -6px;
}

.noDisplay{
    display: none;
}

.card-zoom{
    transition: transform .1s;
    position: relative;
    z-index:1;
}

.textareaDiv {
    text-align: center;
    margin-top: 15px;

}

.textareaDiv textarea{
    border: 1px solid #FFF8F0;
}

.card-zoom:hover{
    transform: scale(1.1);
    position: relative;
    z-index:2;
}

.cardTile {
    display: block;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;    

    margin-bottom: 2px;
}

/*Region Borders*/
.cardTile.Ionia{

    border: 3px solid #C0587A !important ;
    
}
.cardTile.Demacia{

    border: 3px solid #F4EEDE !important ;
    
}
.cardTile.Bilgewater{

    border: 3px solid #c9aa71 !important ;
    
}
.cardTile.Freljord{

    border: 3px solid #64D1F7 !important ;
    
}
.cardTile.PiltoverZaun{

    border: 3px solid #FC9E6C !important;
    
}
.cardTile.Noxus{

    border: 3px solid #781817 !important ;
    
}
.cardTile.ShadowIsles{

    border: 3px solid #05754A !important ;
}

.card-art-deckbuilder {
    position: relative;
    right: -60px;
    top: -100px;
}

.card-name-sidebar{
    padding-top:5px;
    position: relative;
    top:5px;
}
.cardTile::before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(52,41,54) 52%, rgba(52,41,54,0) 80%) right no-repeat;
    z-index: 1;  

}
.deckbuilder-tooltips{
    background-color: #011627 !important;
    width:100% !important;
    opacity: 1 !important;
}

.mana-image{
    height:100%;
    width: 32px;
    position: relative;
    right: 10px;
}
.marginTop{
    top: 50%;
    transform: translate(0%, 20%);
}

.buttonDiv {
    margin:0 auto;
    text-align: center;
    /* width: 50%; */
    display: inline-block;
    position: absolute;
    left: 100px;
}

.buttonDiv:hover{
    color: #011627 !important;
}


.saveDiv{
    display: inline-block;
    text-align: center;
    margin-left:15px;
    /* position: relative;
    top: 60px;
    left: 60px; */
}

.form-input{
    display:block;
    width: 80%;
    margin-right:0px;
}

.cmc {

    z-index: 3;
   
}

.positioning{
    position: relative;
    z-index:5;
}


.quanBack {
    z-index: 3;
    color: #FFF8F0;
    background-color: #2a2a2a;
        padding: 2px;
    border: 2px solid #D68FD6;
}

.cardQuantity {
    width:35%;
    max-width: 70px;
    height:25%;
    max-height: 50px;
    font-size: 190%;
    position: absolute;
    top: 8px;
    right: 16px;
}


.cardName {
    position: relative;
    z-index: 3;
    color: #FFF8F0;
    font-size: 11px;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
}

.quantity {
    position: relative;

    z-index: 3;
    color: #FFF8F0;

}

#sidebarBtn:hover{
    color: #D68FD6;

}

#sidebarBtn.active {
    display: block;
    position: sticky;
    margin-left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left: -15px;
    top: 30vh;
    z-index: 10;
    background: #011627;
    border: 2px solid #D68FD6;
    border-radius:.25rem;
}

#sidebarBtn.inactive{
    display: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.description{
	border: 3px solid #FFF8F0;
	resize: none;
	background-color: #011627;
    color: #FFF8F0;
    width: 280px;
    position: relative;
}


.container-fluid {
  
}

.deck-stats{
    width:25%;
    padding:5px;
    padding-top:0px;
    margin: 0px;
    display: inline-block;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #011627;
    border: solid 2px #D68FD6;
    display: inline-block;
    position: absolute;
    border-radius:.25rem;
    z-index: 10;
    right: 5px; 
    color: #FFF8F0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #FFF8F0;
    background: #D68FD6;
}

#sidebar {
    width: 250px;
    position: fixed;
    overflow-y: scroll;
    top: 0px;
    left: 0;
    height: 100vh;
    z-index: 50;
    background: #011627;
    color: #FFF8F0;
    transition: all 0.3s;

}




.wrapper {
    display: flex;
    width: 100%;
}

#sidebar.active {

}

#sidebar.inactive {
    margin-left: -250px;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #011627;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #FFF8F0;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FFF8F0;
    background: #011627;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #011627;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #D68FD6 !important;
    color: #FFF8F0 !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 15px;
    padding-top: 50px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media(max-width: 991px) {
    .medium-card-override{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px){
    .medium-card-override{
        
    }
    #sidebar.active {
        width: 100%;
        text-align: center;
    }
    #sidebar.inactive {
        display: none;
    } 
     #content.active {
        width: 100%;
        text-align: center;
    }
    #content.inactive {
        display: none;
    }
}

@media (max-width: 991px){
    .btn {
        font-size: 12px;
    }
}
